@use './scss/style.scss';
@use './scss/quote.scss';
@use './scss/common.scss';
@use './scss/text.scss';
@use './scss/topbar.scss';
@use './scss/home.scss';
@use './scss/scrollsnap.scss';
@use './scss/signature.scss';
@use './scss/accordion.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}