.sgnimg {
  width: 16vw;
  padding-left: 14vh;
  -webkit-animation: 1s ease-in-out 0s 1 slideInFromRight;
          animation: 1s ease-in-out 0s 1 slideInFromRight;
}

.sign-container {
  width: 43vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-center;
      -ms-flex-pack: flex-center;
          justify-content: flex-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-container {
  height: 100vh;
  width: 100vw;
  margin-top: -7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-center;
      -ms-flex-pack: flex-center;
          justify-content: flex-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
}

.divide-line {
  border-left: 1px solid white;
  height: 6vw;
  -webkit-animation: 0.5s ease-in-out 0s 1 increaseScale;
          animation: 0.5s ease-in-out 0s 1 increaseScale;
}

.topic {
  height: 10vh;
  font-size: 2.15vw;
  padding-left: 2vw;
  padding-top: 6vh;
  text-align: left;
  -webkit-animation: 1s ease-in-out 0s 1 slideInFromLeft;
          animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

.topic-ml {
  height: 10vh;
  font-size: 2.15vw;
  padding-left: 2vw;
  padding-top: 1vh;
  text-align: left;
  -webkit-animation: 1s ease-in-out 0s 1 slideInFromLeft;
          animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

@media screen and (max-aspect-ratio: 10 / 9) {
  .sign-container {
    height: 10vw;
    display: contents;
    margin-bottom: 2vh;
  }
  .sgnimg {
    width: 0;
  }
  .divide-line {
    height: 0;
  }
  .topic {
    font-size: 4vh;
    margin-left: 2.2vw;
    height: 4vh;
    padding-top: 0;
  }
  .topic-ml {
    font-size: 4vh;
    margin-left: 2.2vw;
    margin-top: -1vh;
    height: 10vh;
  }
  .screen-container {
    margin-top: 9vh;
    height: 91vh;
    display: block;
  }
  .sign-box {
    height: 10vw;
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes increaseScale {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@keyframes increaseScale {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}
/*# sourceMappingURL=common.css.map */