.sgnimg {
    width: 16vw;
    padding-left: 14vh;
    animation: 1s ease-in-out 0s 1 slideInFromRight;
}

.sign-container {
    width: 43vw;
    display: flex;
    flex-direction: row; 
    justify-content: flex-center;
    align-items: center;
}

.screen-container {
    height: 100vh;
    width: 100vw;
    margin-top: -7vh;
    display: flex;
    flex-direction: row; 
    justify-content: flex-center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
}

.divide-line {
    border-left: 1px solid white;
    height: 6vw;
    animation: 0.5s ease-in-out 0s 1 increaseScale;
}

.topic {
    height: 10vh;
    font-size: 2.15vw;
    padding-left: 2vw;
    padding-top: 6vh;
    text-align: left;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

.topic-ml {
    height: 10vh;
    font-size: 2.15vw;
    padding-left: 2vw;
    padding-top: 1vh;
    text-align: left;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

@media screen and (max-aspect-ratio: 1/1) {
    .sign-container {
        height: 8vw;
        width: 100vw;
        padding-bottom: 2vw;
    }
    .sgnimg {
        width: 0;
    }
    .sgnimg-div {
        width: 2vw;
    }
    .divide-line {
        height: 0;
    }
    .topic {
        font-size: 8vw;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes increaseScale {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(100%)
    }
}