.quote-screen {
    width: 0;
    height: 0;
    animation: 3s ease-in-out 0s 1 hideText;
    opacity: 0;
    background: #232323;

    .quote-container {
        padding-top: 17vh;
        height: 50vh;
        text-align: center;
        position: relative;

        .quote-xl {
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-size: 2vh
        }
        
        .quote-l {
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-size: 3vh
        }
        
        .quote-m {
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-size: 4vh;
        }
        
        .quote-s {
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-size: 5vh;
        }
    }

    .author {
        text-align: center;
        font-size: 4vh;
    }
}

@keyframes hideText {
    0% {
        opacity: 1;
        width: 100vw;
        height: 100vh;
    }
    70% {
        opacity: 1;
        width: 100vw;
        height: 100vh;
    }
    99% {
        width: 100vw;
        height: 100vh;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}