.text-hll {
    font-size: 2.95vh;
    font-weight: 500;
}

.text-hls {
    font-size: 2.8vh;
    font-weight: 500;
    padding-bottom: 0.2vh;
}

.text-nhls {
    font-size: 2.8vh;
    font-weight: 300;
    padding-bottom: 0.2vh;
}

.text-container {
    width: 52vw;
    padding-top: 4vh;
}

.text-container-hna {
    width: 52vw;
    padding-top: 20vh;
}