.topbar {
  height: 9vh;
  width: 92vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(35, 35, 35, 0.22);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4vw;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}

.topbar .bar-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.topbar .bar-btn .logo-img {
  height: 5.3vh;
}

.bar-btn {
  font-weight: 700;
  color: #fff;
  font-family: 'Roboto';
  font-size: 1.8vh;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.bar-btn:hover::after, .bar-btn:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

.bar-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.bar-btn::after {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.bar-btn:hover::after, .bar-btn:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.topbar-m {
  height: 9vh;
  width: 92vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4vw;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  -ms-flex-item-align: center;
      align-self: center;
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.topbar-m .logo-btn {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.topbar-m .logo-btn .logo-img {
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: block;
  position: relative;
  padding: 1vh;
  height: 3.6vh;
}

.topbar-m .menu-btn {
  font-size: 4vh;
  color: #ffffff;
  padding-right: 2vw;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.topbar-m .sidebar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  background: rgba(35, 35, 35, 0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.topbar-m .sidebar .menu-btn {
  font-size: 6vh;
  color: #ffffff;
  position: absolute;
  padding: 2vw 4vw;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.topbar-m .sidebar .menu-items {
  margin-top: 16vh;
  margin-left: 3.8vw;
  opacity: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.topbar-m input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
}

@media screen and (max-aspect-ratio: 10 / 9) {
  .topbar {
    margin-top: -15vh;
  }
  .topbar .bar-btn {
    margin-top: -15vh;
  }
  .topbar-m {
    opacity: 1;
  }
  .topbar-m .sidebar .menu-items .bar-btn {
    font-size: 4vh;
    margin-top: 5vw;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

input:checked ~ .sidebar {
  top: 0;
  background: rgba(35, 35, 35, 0.88);
}

input:checked ~ .sidebar .menu-btn {
  opacity: 1;
}

input:checked ~ .sidebar .menu-items {
  opacity: 1;
}

input:checked ~ .menu-btn {
  opacity: 0;
}

input:checked ~ .logo-btn {
  opacity: 0;
}
/*# sourceMappingURL=topbar.css.map */