.topbar {
    height: 9vh;
    width: 92vw;
    display: flex;
    background: rgba(35, 35, 35, 0.22);
    backdrop-filter: blur(4px);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4vw;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-img {
    height: 5.3vh;
}

.bar-btn {
    align-self: center;
}