.accordionscreen {
    overflow-y: scroll;
    margin-top: 15vh;
    max-height: 85vh;
    .accordion {
        width: 100%;
        overflow: hidden;
        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
            top: 0;
            left: 0;
        }
        &tab {
            display: flex;
            justify-content: space-between;
            padding: 4vh 0;
            color: #8E8E93;
            font-size: 4vh;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: #ffffff;
            }
        }
        &content {
            max-height: 0;
            padding: 0;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            img {
                height: 3vh;
                margin-bottom: 0.2em;
            }
            li {
                margin-bottom: -0.1em;
            }
            .textnhls {
                font-size: 1.15vw;
            }
            @media screen and (max-aspect-ratio: 10/9) {
                .textnhls {
                    font-size: 1.3vh;
                }
            }
        }
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #636366;
}

@media screen and (max-aspect-ratio: 10/9) {
    .accordionscreen {
        margin-top: 0;
        max-height: 70vh;
    }
}

input:checked {
    + .accordiontab {
        color: #ffffff;
        padding: 2.5vh 0;
    }
    ~ .accordioncontent {
        max-height: 1000vh;
        padding: 0 0 1em 0;
        opacity: 1;
    }
}