@charset "UTF-8";
@import "tailwindcss";
.keyframe-text-entry {
  animation: 0.6s ease-in-out 0s 1 showText;
}

.keyframe-slide-from-right {
  animation: 0.6s ease-in-out 0s 1 slideInFromRight;
}

.keyframe-slide-from-left {
  animation: 0.6s ease-in-out 0s 1 slideInFromLeft;
}

.keyframe-slide-from-top {
  animation: 0.6s ease-in-out 0s 1 slideInFromTop;
}

.keyframe-slide-from-bottom {
  animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
}

.keyframe-increase-scale {
  animation: 0.6s ease-in-out 0s 1 increaseScale;
}

.keyframe-increase-opacity {
  animation: 0.6s ease-in-out 0s 1 increaseOpacity;
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes increaseScale {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes increaseOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.barbtn:hover::after, .barbtn:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.barbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.barbtn::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.barbtn:hover::after, .barbtn:focus::after {
  transform: scale(1);
}

.accordion-input:checked + .accordion-tab {
  color: #ffffff;
  padding: 2.5vh 0;
}

.accordion-input:checked ~ .accordion-content {
  max-height: 1000vh;
  opacity: 1;
}

.topbarm-input:checked ~ .sidebar {
  top: 0;
}

.topbarm-input:checked ~ .sidebar .menubtn {
  opacity: 1;
}

.topbarm-input:checked ~ .sidebar .menuitems {
  opacity: 1;
}

.topbarm-input:checked ~ .menubtn {
  opacity: 0;
}

.topbarm-input:checked ~ .logobtn {
  opacity: 0;
}

.project-box:hover .project-img {
  filter: blur(0) !important;
}

.project-box:hover .project-desc {
  opacity: 0;
}

.pill {
  background-color: #ff9500;
  padding: 0.15rem 0.45rem;
  border-radius: 9999px;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

.pill.frontend {
  background-color: #5856d6;
}

.pill.api {
  background-color: #ff2d55;
}

.pill.backend {
  background-color: #af52de;
}

.blog-box h1 {
  color: #fae8ff;
  font-size: 32px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .blog-box h1 {
    font-size: 24px !important;
  }
}
.blog-box h1:not(:first-child) {
  margin-top: 32px;
}

.blog-box h2 {
  color: #e0e7ff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: -4px;
}

.blog-box a {
  color: #00bcff;
  text-decoration: underline;
}

.blog-box a:hover {
  color: #0084d1;
}

.blog-box ul {
  list-style-type: disc !important;
  margin-left: 16px;
}

.blog-box ol {
  list-style-type: decimal !important;
  margin-left: 16px;
} 
/* This is a theme distributed by `starry-night`.
 * It’s based on what GitHub uses on their site.
 * See <https://github.com/wooorm/starry-night> for more info. */
:root {
  --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-comment: #9198a1;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-markup-bold: #f0f6fc;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-italic: #f0f6fc;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
  --color-prettylights-syntax-variable: #ffa657;
}

.pl-c {
  color: var(--color-prettylights-syntax-comment);
}

.pl-c1,
.pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}

.pl-e,
.pl-en {
  color: var(--color-prettylights-syntax-entity);
}

.pl-smi,
.pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}

.pl-k {
  color: var(--color-prettylights-syntax-keyword);
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string);
}

.pl-v,
.pl-smw {
  color: var(--color-prettylights-syntax-variable);
}

.pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.pl-sr .pl-cce {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.pl-mb {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.pl-mdr {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.pl-corl {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}

:root {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #09090b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.handwritten {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #959595;
  border-radius: 9999px;
}/*# sourceMappingURL=globals.css.map */