@use "style.css";
@use "tailwind.css";
@use "starry-night-dark.css";

:root {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #09090b
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.handwritten {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 9999px;
}